---
galaxy_info:
  author: {{ role_author }}
  description: Ansible role to install {{ feature_group_desc }}
  license: BSD
  min_ansible_version: 1.9
  platforms:
  - name: GenericLinux
    versions:
    - any
  categories:
  - development
dependencies:
  - { role: alzadude.eclipse-director }
