# {{ project_name }}

This project was created using https://github.com/alzadude/ansible-eclipse-role-builder

The following values were provided:

- Project name: {{ project_name }}
- Role author: {{ role_author }}
- Feature groups: {{ feature_group_ids }}
- Feature groups description: {{ feature_group_desc }}
- Update site url: {{ update_site_url }}
